<!DOCTYPE html>
<html ng-app="ccbApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/" />
  @Styles.Render("~/Content/bootstrap.min.css")  
  @Styles.Render("~/Content/site.css")

  @Scripts.Render("~/Scripts/application.build/build-libraries.js")
  @Scripts.Render("~/Scripts/application.build/build-app.js")
</head>
<body ng-view>
  @RenderBody()
  
  
  @RenderSection("scripts", required: false)
</body>
</html>
